body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS';
    font-size: x-large;
}

.bbb {
    text-align: center;
    
}


.ccc {
    text-align: center;
}

.ddd {
    text-align: center;
    margin-right: 10px;
}

.eee {
margin-left: 620px;}

